In [1]:
li=[]

In [3]:
li = [1,2,3]

type(li)

list

In [4]:
li[0]

1

In [5]:
li[3]

IndexError: list index out of range

In [7]:
li[0]=24
li

[24, 2, 3]

In [8]:
li.append("aman")

In [9]:
li

[24, 2, 3, 'aman']

In [11]:
li.insert(2,"shgs")
li

[24, 2, 'shgs', 'shgs', 3, 'aman']

In [1]:
n= int(input())

li= [int (i) for i in input().split(' ')]
    

sum=0
for i in li:
    sum=sum+i

print(sum)

4
4
4

In [24]:
n= int(input())
li=[]

for i in range(n):
    curr=int(input())
    li.append(curr)
    
li

4
2
5
7
36

[2, 5, 7, 36]

In [35]:
# n=int(input())
str=input().split(' ')
str

li=[]
for ele in str:
    li.append(int(ele))

li

4 6 3 6 3

[4, 6, 3, 6, 3]

In [46]:
# str1=input().split(' ')
n=int(input())
li=[int(ele) for ele in input().split(' ')]

for i in li:
    print(i)

5
2 5 21
2
5
21

In [52]:
def findUnique(arr, n) :
    #Your code goes here
    for i in range(0,n):
        if arr[i] == arr:
            print(arr[i])
            
arr=[4,5,6,5,6]
findUnique(arr,5)

In [57]:

def printTable(start,end,step):
    for i in range(start,end,step):
        farenheit= ( i - 32) * 5//9
        print(i,"",farenheit)

        
s = int(input())
e = int(input())
step = int(input())
printTable(s,e,step)

40
480
31
40  693
71  1244
102  1795
133  2346
164  2897
195  3448
226  4000
257  4551
288  5102
319  5653
350  6204
381  6755
412  7306
443  7857
474  8408

In [56]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [60]:
def checkMember(n):
#Implement Your Code Here
    a=0
    b=1
    for i in range(0,n):
        sum=a+b
        if sum==n:
            return True       
        a=b
        b=sum
    

n=int(input())
if(checkMember(n)):
    print("true")
else:
    print("false")

7
false

In [62]:
def checkPalindrome(num):
#Implement Your Code Here
    temp=num
    result=0
    while num>0:
        rem=num%10
        result=result *10 + rem
        num = num //10
    if temp==result:
        return True

num = int(input())
isPalindrome = checkPalindrome(num)
if(isPalindrome):
    print('true')
else:
    print('false')

354
false

In [1]:
def checkArmstrong(n):
    digit=0
    result=0
    temp=temp1=n

    while n>0:
        digit=digit+1
        n=n//10
        
    print(digit)


    while temp1>0:
        rem=temp1%10
        result=result + (rem**digit)
        temp1=temp1//10
    print(result)
    
    if temp==result:
        return True
    
num = int(input())
isArmstrong = checkArmstrong(num)
if(isArmstrong):
    print('true')
else:
    print('false')

35
2
34
false

### List

In [2]:
friends1= "Rajesh"
friend2= "Aman"

friend3 = "Kamal"

In [3]:
friends = ["Rajesh","Aman","Kamal","Raman","Ram",23345,354656,354.466,[2,546,"9545"]]  # square brackets

###  indexing

0th index element ====  Rajesh
1st index element == Aman

In [5]:
print(friends[0])

Rajesh

In [6]:
print(friends[1])

Aman

In [12]:
print(len(friends))

6

In [23]:
friends

['Rajesh',
 'Aman',
 'Kamal',
 'Raman',
 'Ram',
 23345,
 354656,
 354.466,
 [2, 546, '9545'],
 'Rahul']

### Operations in llist

In [24]:
li= []

li = [1,2,3]

type(li)

list

In [36]:
li= [1,2,"Parekh",3.4]

In [31]:
li[2]="Rajesh"

In [33]:
li[0]

1

In [34]:
li[2]

'Rajesh'

In [35]:
li[9]

IndexError: list index out of range

####  Slicing of list

In [47]:
li

[1, 2, 'Parekh', 3.4]

In [45]:
li2=li[1:4]

In [ ]:
range(start,end+1)

li[start : end+1 ]

In [48]:
li

[1, 2, 'Parekh', 3.4]

In [46]:
li2

[2, 'Parekh', 3.4]

In [49]:
li[1:]

[2, 'Parekh', 3.4]

In [58]:
li3= [1, 2, 'Parekh', 3.4,"kshgdlg",970865869,"hshg"]

In [51]:
li3[1:]

[2, 'Parekh', 3.4, 'kshgdlg', 970865869, 'hshg']

In [53]:
li3[:]

[1, 2, 'Parekh', 3.4, 'kshgdlg', 970865869, 'hshg']

In [54]:
li3.append("Ankush")

In [57]:
li3

[1, 2, 'Parekh', 3.4, 'Karan', 'kshgdlg', 970865869, 'hshg', 'Ankush']

In [59]:
li3.insert(4,"Karan")

In [60]:
li3.insert(11,"Hundrend")

In [61]:
li3

[1, 2, 'Parekh', 3.4, 'Karan', 'kshgdlg', 970865869, 'hshg', 'Hundrend']

In [82]:
li.append([445646,35646,"5hdhgldj"])

TypeError: append() takes exactly one argument (3 given)

In [62]:
li

[1, 2, 'Parekh', 3.4, [445646, 35646, '5hdhgldj']]

In [81]:
li.extend([445646,35646,"5hdhgldj"])

TypeError: extend() takes exactly one argument (3 given)

In [64]:
li

[1, 2, 'Parekh', 3.4, [445646, 35646, '5hdhgldj'], 445646, 35646, '5hdhgldj']

In [66]:
li[5]

445646

In [65]:
li[4]

[445646, 35646, '5hdhgldj']

In [67]:
li[4][0]

445646

In [69]:
li.remove("Parekh")

In [70]:
li

[1, 2, 3.4, [445646, 35646, '5hdhgldj'], 445646, 35646, '5hdhgldj']

In [73]:
li.pop()

35646

In [83]:
li

[1, 2, 3.4]

In [85]:
li.pop(0,1)

TypeError: pop expected at most 1 argument, got 2

In [80]:
li.pop(10)

IndexError: pop index out of range

#### Looping

In [62]:
li3

[1, 2, 'Parekh', 3.4, 'Karan', 'kshgdlg', 970865869, 'hshg', 'Hundrend']

In [63]:
for i in range(len(li3)):
    print(li3[i])

1
2
Parekh
3.4
Karan
kshgdlg
970865869
hshg
Hundrend

In [93]:
for i in range(2,len(li3)):
#     print(li3[i],end=" ")
    if i == 5:
        break
    print(i)

2
3
4
5
6
7
8
9
10

In [65]:
for ele in li3:
    print(ele)

1
2
Parekh
3.4
Karan
kshgdlg
970865869
hshg
Hundrend

In [95]:
for element in li3[2:]:
    print(element)

Parekh
3.4
Karan
kshgdlg
970865869
hshg
Ankush
Hundrend
Hundrend

### Negative indexing

In [2]:
li = [1,2,3,4,5]
li[0]
li[-1]

5

In [98]:
li[-2]

4

In [100]:
li[-5]

1

In [113]:
#### li[start:end:step]


li[1:5:2]

li[1:5]

[2, 3, 4, 5]

In [112]:
li[1::3]

[2, 5]

In [104]:
li[:3]

[1, 2, 3]

In [105]:
li

[1, 2, 3, 4, 5]

In [106]:
li[-1:]

[5]

In [4]:
li[-4:]

[2, 3, 4, 5]

In [108]:
li[-3:-1]

[3, 4]

####  Line Seperated Inputs

In [143]:
n = int(input())  ##### n --- >  5  --- > 5 friends  --- > Rajesh , Ram
li=[]

for i in range(n):
    curr= int(input())
    li.append(curr)

4
3
5
7
3

In [144]:
for ele in li:
    print(ele)

3
5
7
3

#### Space seperated list

In [7]:
str = input()
str

3579

'3579'

In [146]:
str

'356 66 367 77'

In [147]:
str.split(' ')  ##### ' ' ,  :    ---- > delimiters

['356', '66', '367', '77']

In [148]:
li=[]
for ele in str.split(' '):
    li.append(int(ele))

In [149]:
li

[356, 66, 367, 77]

In [156]:
li  =  [  int(ele)  for ele in str.split(' ')   ]

In [158]:
li = [ int(ele) for ele in input().split(' ')]

4 6 8 7

In [160]:
li = [ ele for ele in int(input().split(' '))]

5 6 3 8

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [159]:
li

[4, 6, 8, 7]

#### Linear Search -- > starting from zero it checks element by element

In [67]:
li = [ 43,3,7,37,34,78,34]

ele = int(input())

isFound = False

for i in range(len(li)):
    if li[i]==ele:
        print(i)
        isFound=True
        break

if isFound is False:
    print(-1)

34
4

In [2]:
s="vvmvkvvkvk"

In [4]:
s[0]="v"

TypeError: 'str' object does not support item assignment

In [6]:
s[1:3]

'vm'

In [41]:
a="Python"
b="Java"
b=a
print(id(a),id(b))
print(a,b)

51058816 51058816
Python Python

In [42]:
b="Java"
print(id(b))
print(a,b)

57086848
Python Java

In [43]:
print(id(a),id(b))

51058816 57086848

In [21]:
a=[1,2,3,4]

a[-1:-4:-2]

[4, 2]

In [26]:
s="Welcome"

In [27]:
s[-1::-1]

'emocleW'

In [28]:
"sjgsjg"*2

'sjgsjgsjgsjg'

In [34]:


li=[0]*2
li

[0, 0]

In [54]:
### Strings are not mutable(we cannot change) but list is a mutable (we can change)

def callme(s,st):
    print("Inside function",s,st)
    s=4
    st="Ram 1"
    print("Inside function",s,st)

s=3
st="Ram"
callme(s,st)
print(s,st)

Inside function 3 Ram
Inside function 4 Ram 1
3 Ram

In [55]:
a=[1,2,3,4,5]
b=a
print(a,b)
print(id(a),id(b))

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]
96401160 96401160

In [56]:
b[4]=32
print(id(b))
print(a,b)
print(id(a))

96401160
[1, 2, 3, 4, 32] [1, 2, 3, 4, 32]
96401160

In [50]:
print(id(a))

104409032

In [53]:
int("A")

ValueError: invalid literal for int() with base 10: 'A'

In [73]:
### passing list as an argument in a list

li= [1,2,3,4,5]

def linear_search(lis,element):
    for i in range(len(lis)):
        if lis[i]==element:
            return i
    return -1

index= linear_search(li,5)
print(index)

4

In [74]:
a = [ 1,2,3,7,3,4,5,6,7,7]

In [75]:
def lsearch(a,element):
    my_list=[]
    for i in range(len(a)):
        if a[i]==element:
            my_list.append(i)
    return my_list

lsearch(a,7)

[3, 8, 9]

In [77]:
a= [1,2,3]
b= [4,5,6]

c=[a,b]
print(c)

[[1, 2, 3], [4, 5, 6]]

In [78]:
a = input()

Welcome

In [80]:
mylist= list(a)
print(mylist)

['W', 'e', 'l', 'c', 'o', 'm', 'e']

In [83]:
my_list2 = list([35,25,38,43])
my_list2

[35, 25, 38, 43]

In [85]:
v=list(range(25))
print(v)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [86]:
v[len(v)-1]

24

In [88]:
v[-1]

24

In [89]:
v[-2]

23

In [90]:
v[10:4:-1]

[10, 9, 8, 7, 6, 5]

In [91]:
v[::-1]

[24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [92]:
max(v)

24

In [93]:
min(v)

0

In [95]:
del v[14]
v

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [99]:
a= [1,2,3,4,5,6,7]
def insert(a,element,pos):
    a.append(0)
    for i in range(len(a)-1,pos,-1):
        a[i]=a[i-1]  #### a[7]=a[6]= 7  #### a[6]=6 , a[5]=5, a[4]=3
        ### [1,2,3,4,5,6,7,7]
        ### [1,2,3,4,5,6,6,7]
        ### [1,2,3,4,5,5,6,7]
        ### [1,2,3,4,4,5,6,7]
        
    #print(a)
    a[pos]=element
    print(a)
    
    

insert(a,8,3)

[1, 2, 3, 8, 4, 5, 6, 7]

In [114]:
### remove
a= [1,2,3,7,8,9,7,7,4]


def removeall(a,element):
    while element in a:
        a.remove(element)
        
removeall(a,7)

print(a)

[1, 2, 3, 8, 9, 4]

In [132]:
a = [1,2,3,7,8,9,7,7,4]

def removeall(a,element):
    b=[]
    for i in a:
        if i != element:
            b.append(i)
            
    print(b)
    a.clear()
    
    for i in b:
        a.append(i)
            
            
a=removeall(a,7)
print(a)

[1, 2, 3, 8, 9, 4]
None

In [137]:
a = [1,2,3,7,8,9,7,7,4]

def removeall(a,element):
    b=[]
    for i in a:
        if i != element:
            b.append(i)
            
    print(b)
    #a.clear()
    
    for i in b:
        a.append(i)
            
            
a=removeall(a,7)
print(a)

[1, 2, 3, 8, 9, 4]
None

In [166]:
a=[1,2,3,4,5,6,7,7,4,35]

def removeall(att,element):
    b=[]
    #print(a)
    for i in att:
        if i != element:
            b.append(i)
    #print(b)
    print(id(Glbal a),id(att),id(b))
    a=b
    print(id(a),id(b),id(att))
    #return b
    #att.clear()
    
    #for i in b:
      #  att.append(i)
    #att[3]=100000
    #a.pop()
    
removeall(a,7)
print(a)

SyntaxError: invalid syntax (<ipython-input-166-1927a49b9115>, line 10)

In [2]:
a="abc"
print(a*2)

abcabc

In [4]:
li=[3,3,6,7]
print(li*2)

[3, 3, 6, 7, 3, 3, 6, 7]

In [5]:
def outerFun(a,b):
    def innerFun(c,d):
        return c+d
    return innerFun(a,b)
    return a

result=outerFun(5,10)
print(result)

15